* {
    padding: 0;
    margin: 0;
}

.body {
    box-sizing: border-box;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.partePrincipal {
    color: #ffffff;
    padding: 1% 15% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}

.titulo {
    border-radius: 1%;
    padding: 0.5%;
    width: 40%;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    color: black;
}

.espacioPrincipal {
    padding: 5%;
    display: flex;
    background-color: #edeef35e;
    border-radius: 2%;
    width: 100%;
    max-width: 1200px;
    height: 65vh;
    justify-content: center;
    gap: 15%;
}

.contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.titulos {
    font-size: 1.5rem;
}

.contenedorTexto {
    border-radius: 2%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 1rem;
    padding: 2%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    vertical-align: top;
}

.contenedorResultado {
    border-radius: 2%;
    background-color: #ffffff;
    width: 180%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 2%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    vertical-align: top;
}

.nota {
    width: 100%;
    border-radius: 1%;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.5rem;
    color: black;
}

.botones {
    display: flex;
    gap: 5%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.boton1 {
    border-radius: 1%;
    border-color: #ffffff;
    background-color: black;
    color: #ffffff;
    width: 50%;
    height: 5vh;
}

.boton2 {
    border-radius: 1%;
    border-color: #000000;
    width: 50%;
    height: 5vh;
}

.encabezado {
    padding: 2%;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

#resultado {
    display: none;
}

#imagen {
    width: 200%;
    display: block;
}

#copiarTex {
    display: none;
}

@media (max-width:1024px){
    #imagen {
        width: 50%;
        display: none;
    }
    .espacioPrincipal{
        flex-direction: column;
        gap: 50px;
    }
    .contenedor1 {
        gap: 5px;
    }
    .contenedorTexto {
        width: 100%;
        height: 500px;
        
    }
    .contenedorResultado {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:412px){
    #imagen {
        width: 50%;
        display: none;
    }
    .espacioPrincipal{
        flex-direction: column;
        gap: 5px;
    }
    .contenedor1 {
        gap: 5px;
    }
    .contenedorTexto {
        width: 100%;
        height: 300px;
        
    }
    .contenedorResultado {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    .titulos {
        font-size: 1rem;
    }
    
    .titulo {
        border-radius: 1%;
        padding: 0.5%;
        width: 60%;
        background-color: white;
        text-align: center;
        font-size: 2rem;
        color: black;
    }
    .nota {
        width: 100%;
        border-radius: 1%;
        text-align: center;
        background-color: #ffffff;
        font-size: 1rem;
        color: black;
    }
    .boton1 {
        border-radius: 1%;
        border-color: #ffffff;
        background-color: black;
        color: #ffffff;
        width: 50%;
        height: 3vh;
    }
    
    .boton2 {
        border-radius: 1%;
        border-color: #000000;
        width: 50%;
        height: 3vh;
    }
}